@charset "utf-8";
/* CSS Document */
header   {
	width: 900px;
	height: 200px;
	background-color: #F3E2D4;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}
section  {
	width: 900px;
	background-image: url('images/colback.jpg');
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
}
nav{
	float: left;
	width: 250px;
}
nav a{
	border: 6px inset #CCCCCC;
	background-color: #351A00;
	line-height: 250%;
	font-weight: bold;
	font-size: 25px;
	color: #FFEEE6;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
}
nav a:hover {
	color: #FFD380;
	border: 2px outset #CCCCCC;
}
article {
	float: left;
	width: 650px;
	text-align: center;
}
footer {
	text-align: center;
	width: 900px;
	height: 70px;
	background-color: #F3E2D4;
	margin: auto;
}
.logoleft {
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}

h1, h2, h3{
	color: #f4f4f9;
	text-align: center;
	font-size: xx-large;
}
.footer_text{
	color: #000000
}
p{
	color: #f4f4f9;
}
a{
	color:#0277bd;
	font-weight: bold;
}
a:hover{
	text-decoration: underline;
}
.container {
	width: 900px;
	margin: 0 auto;
}
#thumbs, #image {
		width: 300px;
		margin: 0 auto 0 auto;
		color: #000;
	}

	#thumbs {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		flex-wrap: nowrap;
	}

			
	#thumbs img {
		width: 150px;
		height: auto;
		border: solid 1px #000;
		margin: 5px;
	}

	#image{
		height:500px;
	}
.auto-style1 {
	float: left;
	height: 150px;
	padding: 0px 15px 10px 80px;
	margin-left: 29px;
}
hr {
	border-style: solid;
	border-color: #C6CDDC;
	border-width: 1px;
}

h1.blue{
 text-align: center;
 color: #2c3e50;
}
h3.blue{ 
	
	color:#2c3e50;
}
p.blue{
	color: #555;
	
}

.recipes {
	background-color: #ffffff;
	padding: 20px;
	
}
hr{
	border: 1px solid #ccc;
}
img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.image-left {
    float: left;
    margin-right: 20px;
    width: 15%;
    border-radius: 8px;
}

.image-right {
    float: right;
    margin-left: 20px;
    width: 10%;
    border-radius: 8px;
}

.image-center {
    display: block;
    margin: 20px auto;
    width: 15%;
    border-radius: 8px;
}
.us{
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
}
h1.us, h2.us, h3.us{
	text-align:left;
	color: #333;
}
p.us{
	padding: 0 20px;
	color: #000000
}
a.us{
	color:#0277bd;
	font-weight: bold;
}
a:hover.us{
	text-decoration: underline;
}
table{
	width:100%;
	border-collapse: collapse;
	background-color:#ffffff;
	margin-top: 20px;
}
th, td {
	padding: 15px;
	text-align: center;
	border: 1px solid black;
}
th{
	background-color: #4a6572;
	color:white;
	font-size: 22px;
	font-weight: bold;
}
td{
	font-size: 18px;
	background-color: #fafafa;
	color: #333;
}
caption{
	padding: 10px;
	background-color: #7f8c8d;
	color: white;
	border: 2px solid #ddd;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	width:98.75%;
}