.print-off{
	display:none;
}

body p{
	background-color: white;
	margin: auto;
}

header p{
	display:none;
}

section	p{
	width: 100%;
}

article	p{
	width: 95%;
	margin: auto;
	padding-right: 5px;
}
nav p{
	display:none;
}

footer	p{
	display:none;
}
